.statsArray {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.statsCard {
  flex: 1;
  padding: 1rem 0;
  min-width: 300px;
  background-color: transparent;
}

.statsCardBody {
  align-items: center;
}

.statValue {
  font-size: 3rem;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 0;
}

.subHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ownerStat {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actionsPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.actionsPanel > * {
  flex: 1;
  min-width: 300;
  background-color: transparent;
}

.palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.leftSpotLight {
  position: fixed;
  width: 100vw;
  aspect-ratio: 1;
  bottom: -10vw;
  left: -30vw;
}

.rightSpotLight {
  position: fixed;
  width: 100vw;
  aspect-ratio: 1;
  top: -10vw;
  right: -30vw;
}

@media screen and (max-width: 1024px) {
  .leftSpotLight {
    width: 150vh;
    bottom: 20vw;
    left: -40vw;
  }
  
  .rightSpotLight {
    width: 150vh;
    top: 20vw;
    right: -40vw;
  }
}

@media screen and (max-width: 768px) {
  .leftSpotLight {
    bottom: 30vw;
    left: -40vw;
  }
  
  .rightSpotLight {
    top: 30vw;
    right: -40vw;
  }
}

@media screen and (max-width: 425px) {
  .leftSpotLight {
    bottom: 30vw;
    left: -100vw;
  }
  
  .rightSpotLight {
    top: 30vw;
    right: -100vw;
  }
}